
*.xml

*.xml

*.xml
XAI/.idea/workspace.xml
XAI/Samia_pilot/.DS_Store
XAI/Samia_pilot/styles/.DS_Store
XAI/Samia_pilot/styles/style 2.css
XAI/Samia_pilot/styles/style.css
XAI/Samia_pilot/styles/style 2.css

*.xml
XAI/Samia_pilot/scripts/qlty_veri.js
